main {
  display: grid;
  gap: 10px;
  grid-template-areas:
  "header header"
  "nav nav"
  "left right"
  "footer footer"
  ;
  grid-template-columns: 200px 400px;
  grid-template-rows: 150px 200px 500px 150px;
}

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

header {
  background-color: bisque;
  grid-area: header;
}

nav {
  background-color: cadetblue;
  grid-area: nav;
}

.left {
  background-color: blueviolet;
  grid-area: left;
}

.right {
  background-color: yellowgreen;
  grid-area: right;
}

footer {
  background-color: dodgerblue;
  grid-area: footer;
}
