@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

:root {
  --text: #e5e5e5;
  --accent-blue: #1688f0;
  --accent-pink: #f44a64;
  --bg-main: #000;
  --bg-user: #17171d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anonymous Pro", monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-main);
  color: var(--text);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1280px;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

h1 {
  color: var(--accent-blue);
  margin: 20px 0 5px 0;
  user-select: none;
}

small {
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  user-select: none;
}

.input-container {
  max-width: 30rem;
  display: flex;
  width: 50%;
  min-width: 30rem;
}

.input-container input {
  font-size: 1.3rem;
  width: 100%;
  padding: 0.2rem 1rem;
  background: var(--bg-user);
  color: var(--text);
  text-align: center;
  border: 2px solid var(--accent-blue);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.input-container input:focus-visible {
  border: 2px solid var(--accent-pink);
  outline: none;
}

.search-usernameBtn {
  font-size: 1.3rem;
  padding: 0.2rem 0.8rem;
  background-color: var(--accent-blue);
  color: var(--text);
  border: none;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-usernameBtn:hover {
  background-color: var(--accent-pink);
}

#loading {
  margin-top: 5rem;
  font-size: 3rem;
}

/* -----------------User Info---------------- */

h2 {
  width: 100%;
  text-align: center;
  color: var(--text);
  margin: 0;
}

img {
  border: 2px solid var(--accent-blue);
  max-width: 100%;
  height: auto;
}

a {
  color: var(--accent-blue);
  text-decoration: none;
}

.blue {
  color: var(--accent-blue);
}

.blue:hover {
  color: var(--accent-pink);
}

ul {
  list-style: none;
  padding: 0;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-user);
  color: var(--text);
  font-size: 1.1rem;
  padding: 2rem;
  margin-top: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.user-info figure {
  width: 10rem;
  height: 10rem;
}

.user-info img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-info div {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  padding-left: 5%;
}

.user-info div p {
  width: 100%;
  border-bottom: 1px solid var(--text);
  padding: 1rem 0rem;
}

.filter-repos {
  background: var(--bg-user);
  width: 30rem;
  border-radius: 20px;
  border: 2px solid var(--accent-blue);
  color: var(--text);
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem 0;
  padding: 0.2rem 1rem;
}

.filter-repos:focus-visible {
  border: 2px solid var(--accent-pink);
  outline: none;
}

.repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--bg-user);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
}

h3 {
  margin: 4px;
  width: 100%;
  text-align: center;
  color: var(--accent-blue);
  overflow: hidden;
}

.repo-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.repo-list li {
  width: 30%;
  min-height: 180px;
  border-radius: 10px;
  margin: 1em;
  border: 1px solid var(--accent-blue);
  padding: 1em;
  text-align: center;
  background-color: var(--bg-main);
}

.repo-list li:hover {
  background-color: var(--bg-user);
  border: 1px solid var(--accent-pink);
  box-shadow: 0 3px 6px var(--accent-pink), 0 3px 6px var(--accent-pink);
}

.repo-list li a {
  padding: 10px 20px;
  background: var(--accent-blue);
  border-radius: 30px;
  color: var(--bg-main);
}

.repo-list li a:hover {
  background: var(--accent-pink);
  color: var(--text);
  border: 2px solid var(--text);
  transform: scale(1.1);
}

.repo-list p {
  padding: 0em 0.5em;
  margin: 0.5em 0;
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .input-container {
    min-width: 20rem;
  }

  .input-container input {
    text-align: left;
  }

  #loading {
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  .container {
    width: 96%;
  }

  .user-info {
    flex-direction: column;
    padding: 1rem 0rem;
    font-size: 0.9rem;
  }

  .user-info div {
    width: 100%;
    padding-left: 0%;
  }

  .user-info figure {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
  }

  .username {
    display: block;
    margin-bottom: 0.5rem;
  }

  .repo-list {
    /* justify-content: space-between; */
  }

  .repo-list li {
    width: 100%;
  }
}
